
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/a3/50/87/a3508797091683ab55e1d0534c6ba97a.gif');
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.loading {
    font-size: 24px;
    margin-bottom: 10px;
}

.icon {
    width: 64px;
    height: 64px;
}
