
@import url('https://fonts.googleapis.com/css2?family=Apple+Gothic&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Apple Gothic', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001f3f; /* Темно-синий цвет */
}

.container, .lock-screen {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.lock-screen {
    display: none; /* Скрыто по умолчанию */
}

.lock-icon {
    width: 100px;
    height: 100px;
}

.lock-text {
    margin: 20px 0;
}

#nickname {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-nickname, #admin-button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: #1DA1F2;
    color: white;
    cursor: pointer;
}

#admin-button {
    background-color: #ff3d00; /* Красный цвет для администраторов */
}
